/* Canvasを中央に表示し、背景色と枠線を設定 */
body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#gameCanvas {
    background: #fff;
    border: 3px solid #28a571;
    box-shadow: 0 4px 24px rgba(0,0,0,0.3);
    display: block;
}
 #lifeBoard, #scoreBoard {
  color:#26be9e;
  font-size: 40px;
 }